body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    background-color:rgba(152, 150, 150, 0.776);
    position: relative;
    width: 25%;
    padding: 4%; 
    border-radius: 5%;
}
 .input{
    text-align: right;
    margin-top: 40px;
    margin-bottom: 50px;
    height: 125px;
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 39px;
    color: hsl(0, 0%, 3%);
    background-color: rgb(253, 237, 218);

} 
.btn{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4,1fr);
   
}
button{
    height:45px;
    width: 100px;
    border-radius: 30px;
    border: 3.6px solid blue;
    padding: 15px;
    box-shadow: 6px 6px rgb(95, 94, 94);
    background-color:rgba(173, 164, 164, 0.776);
    font-size: 25px;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
